<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<h2>New user info</h2>
<form th:action="@{/admin/saveUser}" th:object="${user}" method="post">
    Name: <input type="text" th:field="*{firstName}"/>
    <br>
    Lastname: <input type="text" th:field="*{lastName}"/>
    <br>
    Email: <input type="email" th:field="*{email}"/>
    <br>
    Username: <input type="text" th:field="*{username}"/>
    <br>
    Password: <input type="password" th:field="*{password}"/>
    <br>
    <label>Roles:
        <input type="checkbox" name="roles"
               th:each="role : ${allRoles}"
               th:text="${role.name}"
               th:value="${role.id}"
               th:field="*{roles}"
        />
    </label>
    <br>
    <input type="submit" value="OK">


</form>
<a href="/logout">
    <button>Logout</button>
</a>
</body>
</html>